/* universal selector */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: ivory;
	color: tomato;

}
/* center everything */
.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

/* Title */
.title{
	position: absolute;
	top: 0;
	font-size: 4rem;
	z-index: 2;
}

/* ScoreBoard */
.score{
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	position: absolute;
	top: 70px;
	z-index: 1;
}

/* Score */
.p-count,.c-count{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
}

/* 3 button sebaris */
.options{
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}

.home{
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}


/* style 3 button */
.rock, .paper, .scissor{
	padding: 0.8rem;
	width: 100px;
	border-radius: 10px;
	background: ivory;
	outline: none;
	border-color: tomato;
	border: 2px solid;
	cursor: pointer;
}

.move{
	font-size: 2rem;
	font-weight: bold;
}

/* Reload button */
.reload {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: ivory;
	outline: none;
	border: 2px solid tomato;
	border-radius: 10px;
	cursor: pointer;
}

.result{
	margin-top: 20px;
	font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 612px)
{
	.title{
		text-align: center;
	}
	.score{
		position: absolute;
		top: 200px;
		width: 100vw;
	}
	.options{
		width: 100vw;
    }
}